* {
  box-sizing: border-box;
}
/*remove margin and padding from ul */
ul {
  margin: 0px;
  padding: 0px;
}
/*Style my list*/
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #bebebe;
  font-size: 18px;
  transition: 0.2s;
  /* Make li unselectable*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family:cursive;
}

/* Add odd/even colors to list*/
ul li:nth-child(odd) {
  background: #979797;
  font-family:cursive;
}

ul li:hover {
  background: black;
  color: white;
  font-family:cursive;
}

/* add check mark when clicked*/
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0px 2px 2px 0px;
  top: 10px;
  left: 15px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
  font-family:cursive;
}

/* style close btn*/
.close {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: red;
  color: white;
}

/* Header Style*/
.header {
  background-color: gray;
  padding: 30px 40px;
  text-align: center;
  font-family:cursive;
}

/* Style input Btn*/
input {
  margin: 0px;
  border: none;
  border-radius: 6px;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
.addBtn {
  padding: 10px;
  width: 25%;
  background: lightgrey;
  color: black;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.5s;
  border-radius: 6px;
  font-family:cursive;
}

/* Clear floats after header*/
.header:after {
  content: "";
  display: table;
  clear: both;
}

.addBtn:hover {
  background-color: black;
  color: white;
}
